*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/*Navigation*/
.navbar{
    background-color: #E3DBAF;
    
   
}
.collapse{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-container{
    display: flex;
    width:80%;
    justify-content:center;
    align-content:flex-start ;
    margin-right: 20px;
    padding-left: 0px !important;
    gap:30px;
    
}

.icons-container{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    gap: 15px;
    width:100px;
    align-items: flex-start !important;
}

.nav-item{
    list-style:none;
}

.nav-link{
    color: #5B0C0A !important;
}


li#home {
    
    color: #5B0C0A !important;
    font-weight: 600 !important;
   display: inline-block !important;
   position: relative !important;
}
li#home:hover{
    color:#5B0C0A !important;
}

.change{
    color: #5B0C0A !important;
}

li#home:hover::before, li#home .change::before{
    visibility: visible !important;
  -webkit-transform: scaleX(1) !important;
  transform: scaleX(1) !important;
}
li#home::before, .change::before{
    content: "" !important;
    position: absolute !important;
    width: 100% !important;
    height: 3px !important;
    bottom: -8px !important;
    left: 0 !important;
    background-color: #EC7F07 !important;
    visibility: hidden !important;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition: all 0.15s ease-in-out 0s !important;
    transition: all 0.15s ease-in-out 0s !important;

}

.dropdown-menu{
    /* color: #575757 !important;
    text-align: center !important;
    width: 250px !important;*/
    border-radius: 0px !important;
    padding:0px !important;
    
}

.dropdown-divider{
    margin:0px !important;
}

.dropdown-item:hover{
    background-color: #5B0C0A !important;
    color: #EC7F07 !important;  
}

.dropdown-item{
    height: 45px !important;
    text-align: center !important;
    padding:0px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

li.divisions{
    width: 250px !important;
}

.dropdown-menu li{
    color: #EC7F07 !important;
    text-align: center !important;
    width: 250px;
    border-radius: 0px !important;
    border-bottom: #aaaaaa solid 1px;
}

.dropdown-menu li:hover{
    background-color: #5B0C0A !important;
    color: #EC7F07 !important; 
}

.fa-brands, .fa-solid{
    font-size: larger;
    color: black !important;
}

/*About Image*/


/*History section*/
.history-h{
    margin-top: 30px;
    text-align: center;
}

.history-section{
    margin-bottom:20px ;
}

/*Vision*/

.vision-section{
    padding-top: 20px;
}
.v-back-image{
    background-image: linear-gradient(0deg,
    rgba(24, 23, 23, 0.75),
    rgba(26, 27, 27, 0.75)), url('/images/page-2_img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    margin-top:-54px;
}

.vision-h-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.vision-h{
    color: #EC7F07;
    text-align: center;
    margin-top: 3%;
    margin-bottom: -3%;
}

.quote{
    font-style: italic;
    font-size: 20px;
}

.Mission-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Vision-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Our-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Vision-heading:hover{
    cursor: pointer;
}

.headings{
   display: inline-flex;
    width: 100%;
    justify-content: space-around;

    padding:3%;
    
}

.heading{
    color: #000000;
    font-weight: bold;
    margin-bottom: 18px;
}

.active{
    display: none;
}

.line1{
    width:172px;
    border-bottom: #EC7F07 6px solid;
}

.line2{
    width:172px;
    border-bottom: #EC7F07 6px solid;
}

.line3{
    width:172px;
    border-bottom: #EC7F07 6px solid;
}


.mission-container{
    transition: ease-in-out 0.5s;
    height: 120px;
    
}

.vision-container{
    transition: ease-in-out 0.5s;
    height: 120px;
}

.our-container{
    transition: ease-in-out 0.5s;
    height: 120px;
}

.mission-inner{
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
   
}

.vision-inner{
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.our-inner{
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.v-img-container{
    width: 50%;

}

.v-img{
    width: 500px;
    height: 350px;
}

.v-description-container{
    margin-top: 0px;
}

.mission-h3, .vision-h3{
    color: #EC7F07;
}

.mission-p, .vision-p{
    color: #000000;
}



/*Mission Vission Statement*/
#homes, #profile, #contact{
    height: 120px;
   

}

.tab-p{
    margin-top: 20px;
}



/*who*/
.who-section{
    background-color: #E3DBAF;
    margin-top: 0%;
    
}

.who-h-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.who-h{
    margin-top: 10px;
    color: #5B0C0A;
}
.who-h-container p{
    color: #000000;
}



.posision{

    color:#5B0C0A;
    text-align: center;
    font-weight: bold;
}

.img-text::after{
    content: "";
    clear: both;
    display: table;
    
}

.card{
    position: relative;
    margin-bottom:30px;
    width: 25rem;
}

.card-img-top{
    height: 250px;
    border-bottom: 0.5px #5B0C0A solid;
   
}


.cards-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cards-container1{
    margin-top:20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.card-body{
   height: 80px;
}

.card-title{
   
    color:#EC7F07;
    font-style: roboto;
    text-align: center;
}

/*qoute*/
.qoute{
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    font-style: italic;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}



/*footer section*/
.page-footer{
    background-color: #E3DBAF;
    display: flex;
    padding:20px;
    gap:20px;
}

.home-footer{
    width: 30%;
}
.footer-logo{
    width:250px;
    margin-bottom: 30px;
}

.footer-h-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 12px;
   
}

.footer-contact-heading{
    color: #5B0C0A;
}

.footer-contact-h{
    color: #5B0C0A;
    margin-bottom:20px;
}

.head-office-p, .galashwe-p, .Hartswater-p{
    color: #5B0C0A;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 0px !important;
}
.head-office-text, .galashwe-text, .Hartswater-text{
    display: flex;
    gap:10px;
    
}

.footer-home{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding-left: 7%;
}

.tell-fax, .cell, .thusho, .simon, .mail{
    display: flex;
    justify-content: flex-start;
}
.footer-contact{
    width:25%;
    display: flex;
    flex-direction: column;
   
}

.tell-fax p{
    margin-left: 20px;
}

.cell p{
    margin-left: 20px;
    margin-bottom: 0px !important;
}

.thusho-text{
    font-weight:  bold;
}

.simon-text{
   font-weight: bold;
}

.simon-number{
    margin-left:35px;
}

.thusho-number{
    margin-left:35px;
    margin-bottom: 0px !important;
}

.mail p{
    margin-left: 15px;
}



/*copy rights*/
.Copyrights-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B0C0A;
    height: 25px;
}

.Copyrights-container p{
    margin-bottom: 0px !important;
    font-size: small;
    color: #E3DBAF;
    font-weight: 600;
}

.kwenzo-link{
    text-decoration: none;
    color: #E3DBAF;
}

.kwenzo-link:hover{
    color: #E3DBAF;
}

@media (max-width:768px){
    /*Navigation*/
    .nav-container{
        flex-direction: column;
    }

    .collapse{
        display: block;
        padding-left: 0px;
    }

    li#home::before, .change::before{
        width:14% !important;
    }

    /*back image*/
   

   

    /*our history*/
    .history-p{
        font-size: smaller;
    }

    /*Our-V*/

    .line1{
        width: 83px;
    
    }

    .line2{
        width: 83px;
    }

    .line3{
        width: 83px;
    }

    .mission-container {
        transition: ease-in-out 0.5s;
        height: 200px;
    }

    .vision-container{
         transition: ease-in-out 0.5s;
         height: 200px;
    }

    .our-container{
         transition: ease-in-out 0.5s;
         height: 200px;
    }

    .vision-h{
        text-align: center;
        margin-top: 5%;
        margin-bottom: -5%;
    }

    .card{
        width: 24rem;
    
    }

    .quote{
        font-style: italic;
        font-size: smaller;
    }

    .v-img-container {
    margin-top: 40px;
    width: 100%;
    }

    .v-img {
        width: 150px;
        height: 300px;
    }

    .v-description-container {
        width: 110%;
        margin-top: 50px;
    }

    .headings {
        width: 100%;
        padding-bottom: 3%;
        display: flex;
        font-size: xx-small;
    }

    .heading{
        font-size:small;
    }

    .v-description-container {
        width: 110%;
    margin-top: 0px;
    }

    .headings {
        width: 100%;
        display: flex;
        font-size: xx-small;
        
    }

    .heading{
        text-align: center;
        margin-bottom: 8px;
    }

    .line1{
        width: 83px;
        border-bottom: #EC7F07 3px solid;
        
    }

    .line2{
        width: 83px;
        border-bottom: #EC7F07 3px solid;
        
    }

    .line3{
        width: 83px;
        border-bottom: #EC7F07 3px solid;
       
    }

    .mission-p, .vision-p {
        font-size: smaller;
    }

    .mission-container {
        transition: ease-in-out 0.5s;
        height: 200px;
    }

    .vision-container{
         transition: ease-in-out 0.5s;
         height: 200px;
    }

    .our-container{
         transition: ease-in-out 0.5s;
         height: 200px;
    }



    /*who-we-are*/
    .who-h-container p {
        color: #000000;
        text-align: center;
    
        }
    
        .cards-container {
            justify-content: center;
            display: inline-block;
    
        }
    
        .cards-container1 {
            float:none;
            
        }
    
        .card-img-top {
            height: 250px;
            border-bottom: 0.5px #5B0C0A solid;
        }

        .column {
            float:none;
            margin-left: 40px;
        }
        
        .who-h {
            margin-top: 10px;
            color: #5B0C0A;
            font-size: revert;
        }
    
        .who-h-container p {
            color: #000000;
            text-align: center;
            font-size: small;
        }
    
        .cards-container {
            justify-items: center;
            display: inline-block;
            padding-left: 5%;
        }
    
        .cards-container1 {
            margin-top: 0;
            display: inline-block;
            justify-items: center;
            padding-left: 5%;
           
        }
    
        .card{
            width: 24rem;
       
        
        }
    
        .card-img-top {
            height: 250px;
            border-bottom: 0.5px #5B0C0A solid;
        }
    
        .v-description-container{
            margin-top: 0;
        }
    
        .mission-p, .vision-p{
            font-size: smaller;
        }
    
        /*qoute*/
        .qoute{
            font-weight: bold;
            font-style: italic;
        }
    


     /*footer*/
     .page-footer{
        flex-direction: column;
        padding-bottom: 0px;
    }

    .home-footer{
        width:100%;
    }

    .footer-home{
        width: 100%;
        padding-left: 0%;
    }

    .footer-contact{
        width: 100%;
    }

    .simon-number span{
        margin-left: 2px;
    }

    .tell-fax p{
        margin-left: 19px;
    }

    /*copyrights*/
    .Copyrights-container p{
        font-size: x-small;
    }


}

